USE [master]
GO
/****** Object:  Database [CrystalAndStone]    Script Date: 02-10-2024 10:05:49 ******/
CREATE DATABASE [CrystalAndStone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrystalAndStone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CrystalAndStone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CrystalAndStone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CrystalAndStone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrystalAndStone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrystalAndStone]
GO
/****** Object:  Table [dbo].[tbl_CategoryMasterLog]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CategoryMasterLog](
	[CategoryLog_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](100) NULL,
	[Company_Id] [int] NULL,
	[Created_Date] [datetime] NULL,
	[User_Id] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Category_Status] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryLog_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CategoryLogTable]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[vw_CategoryLogTable] As
	Select CategoryLog_Id,Category_Name,Company_Id,Created_Date,User_Id,Description,Category_Status 
	from tbl_CategoryMasterLog
GO
/****** Object:  Table [dbo].[tbl_CategoryMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CategoryMaster](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](100) NULL,
	[Company_Id] [int] NULL,
	[Created_Date] [datetime] NULL,
	[User_Id] [int] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tbl_CategoryMaster] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_CategoryDetail]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_CategoryDetail] as
			Select Category_Id,Category_Name,Company_Id,User_Id,IsActive, Created_Date
			from tbl_CategoryMaster	
GO
/****** Object:  Table [dbo].[tbl_BannerMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BannerMaster](
	[Banner_Id] [int] IDENTITY(1,1) NOT NULL,
	[Banner_Image] [nvarchar](max) NULL,
	[Company_Id] [int] NULL,
	[User_Id] [int] NULL,
	[IsActive] [int] NULL,
	[Created_Date] [datetime] NULL,
 CONSTRAINT [PK_tbl_BannerMaster] PRIMARY KEY CLUSTERED 
(
	[Banner_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CompanyMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CompanyMaster](
	[Company_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Name] [nvarchar](500) NULL,
	[Company_Logo] [nvarchar](max) NULL,
	[IsActive] [int] NULL,
	[Ceated_Date] [datetime] NULL,
 CONSTRAINT [PK_tbl_CompanyMaster] PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_DeliveryMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DeliveryMaster](
	[Delivery_Id] [uniqueidentifier] NOT NULL,
	[Delivery_Country] [nvarchar](50) NULL,
	[Delivery_State] [nvarchar](50) NULL,
	[Delivery_City] [nvarchar](50) NULL,
	[Delivery_Charges] [decimal](18, 2) NULL,
	[Company_Id] [int] NOT NULL,
	[Created_Date] [datetime] NULL,
	[IsDeleted] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FileUploadMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FileUploadMaster](
	[File_Id] [uniqueidentifier] NOT NULL,
	[File_Name] [nvarchar](1000) NULL,
	[File_Path] [nvarchar](max) NULL,
	[Download_Link] [nvarchar](max) NULL,
	[Company_Id] [int] NULL,
	[IsActive] [int] NULL,
	[Created_Date] [datetime] NULL,
 CONSTRAINT [PK_tbl_FileUploadMaster] PRIMARY KEY CLUSTERED 
(
	[File_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OfferMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OfferMaster](
	[Offer_Id] [int] IDENTITY(1,1) NOT NULL,
	[SubCategory_Id] [int] NULL,
	[Offer_Price] [decimal](18, 2) NULL,
	[IsActive] [int] NULL,
	[Created_Date] [datetime] NULL,
	[Company_Id] [int] NULL,
 CONSTRAINT [PK_tbl_OfferMaster] PRIMARY KEY CLUSTERED 
(
	[Offer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ShoppingCartMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ShoppingCartMaster](
	[Cart_Id] [uniqueidentifier] NULL,
	[SubCategory_Id] [int] NULL,
	[ItemQuantity] [numeric](18, 0) NULL,
	[ItemPrice] [numeric](18, 2) NULL,
	[DeliveryAddress] [nvarchar](max) NULL,
	[BillingAddresss] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[IsCheckedOut] [int] NULL,
	[CheckedOutDate] [datetime] NULL,
	[Company_Id] [int] NULL,
	[Register_Id] [uniqueidentifier] NULL,
	[OrderNo] [nvarchar](50) NULL,
	[IsRemoved] [int] NULL,
	[OrderConfirm_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SubCategoryMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SubCategoryMaster](
	[SubCategory_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Id] [int] NULL,
	[SubCategory_Name] [nvarchar](100) NULL,
	[SubCategory_Detail] [nvarchar](max) NULL,
	[SubCategory_Rupee] [decimal](18, 2) NULL,
	[SubCategory_Dollar] [decimal](18, 2) NULL,
	[SubCategory_Piece] [bigint] NULL,
	[SubCategory_Image1] [nvarchar](max) NULL,
	[SubCategory_Image2] [nvarchar](max) NULL,
	[SubCategory_Image3] [nvarchar](max) NULL,
	[SubCategory_Image4] [nvarchar](max) NULL,
	[Company_Id] [int] NULL,
	[User_Id] [int] NULL,
	[IsActive] [int] NULL,
	[Created_Date] [datetime] NULL,
	[SubCategory_Unit] [nvarchar](15) NULL,
	[SubCategory_MinOrder] [decimal](18, 2) NULL,
	[Video_link] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_SubCategoryMaster] PRIMARY KEY CLUSTERED 
(
	[SubCategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserMaster](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](100) NULL,
	[User_Password] [nvarchar](100) NULL,
	[User_EmailAddress] [nvarchar](300) NULL,
	[Company_Id] [int] NULL,
	[IsActive] [int] NULL,
	[Created_Date] [datetime] NULL,
	[User_FirstName] [nvarchar](100) NULL,
	[User_LastName] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_UserMaster] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserRegistration]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserRegistration](
	[Register_Id] [uniqueidentifier] NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[EmailAddress] [nvarchar](300) NULL,
	[Password] [varbinary](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Landmark] [nvarchar](max) NULL,
	[MobileNo] [numeric](18, 0) NULL,
	[Country] [nvarchar](200) NULL,
	[State] [nvarchar](200) NULL,
	[City] [nvarchar](200) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[IsEmailValidated] [int] NULL,
	[Company_Id] [int] NULL,
	[VerificationCode] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_BannerMaster] ON 

INSERT [dbo].[tbl_BannerMaster] ([Banner_Id], [Banner_Image], [Company_Id], [User_Id], [IsActive], [Created_Date]) VALUES (1, N'Images/945e44ae-6bc9-4dc7-a2bd-8d57d161987c.webp', 2, NULL, 0, CAST(N'2023-06-16T00:14:56.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_BannerMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_CategoryMaster] ON 

INSERT [dbo].[tbl_CategoryMaster] ([Category_Id], [Category_Name], [Company_Id], [Created_Date], [User_Id], [IsActive]) VALUES (1, N'Watch', 1, CAST(N'2024-10-02T09:41:20.150' AS DateTime), 1, 1)
INSERT [dbo].[tbl_CategoryMaster] ([Category_Id], [Category_Name], [Company_Id], [Created_Date], [User_Id], [IsActive]) VALUES (2, N'Watch', 1, CAST(N'2024-10-02T09:42:18.890' AS DateTime), 1, 1)
INSERT [dbo].[tbl_CategoryMaster] ([Category_Id], [Category_Name], [Company_Id], [Created_Date], [User_Id], [IsActive]) VALUES (3, N'Speaker', 1, CAST(N'2024-10-02T09:49:42.567' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_CategoryMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_CategoryMasterLog] ON 

INSERT [dbo].[tbl_CategoryMasterLog] ([CategoryLog_Id], [Category_Name], [Company_Id], [Created_Date], [User_Id], [Description], [Category_Status]) VALUES (1, N'Watch', 1, NULL, 1, N'Waiting for Approval Status', N'Waiting for approval')
INSERT [dbo].[tbl_CategoryMasterLog] ([CategoryLog_Id], [Category_Name], [Company_Id], [Created_Date], [User_Id], [Description], [Category_Status]) VALUES (2, N'Watch', 1, CAST(N'2024-10-02T09:41:20.143' AS DateTime), 1, N'Watch is approved', N'Approve')
INSERT [dbo].[tbl_CategoryMasterLog] ([CategoryLog_Id], [Category_Name], [Company_Id], [Created_Date], [User_Id], [Description], [Category_Status]) VALUES (3, N'Watch', 1, CAST(N'2024-10-02T09:42:18.887' AS DateTime), 1, N'Watch is Reject', N'Reject')
SET IDENTITY_INSERT [dbo].[tbl_CategoryMasterLog] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_CompanyMaster] ON 

INSERT [dbo].[tbl_CompanyMaster] ([Company_ID], [Company_Name], [Company_Logo], [IsActive], [Ceated_Date]) VALUES (1, N'Crown Agate', NULL, 1, CAST(N'2022-12-19T21:20:13.947' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_CompanyMaster] OFF
GO
INSERT [dbo].[tbl_DeliveryMaster] ([Delivery_Id], [Delivery_Country], [Delivery_State], [Delivery_City], [Delivery_Charges], [Company_Id], [Created_Date], [IsDeleted]) VALUES (N'0acf91a6-70f2-4d31-9a42-349bdfff0529', N'string', N'string', N'string', CAST(0.00 AS Decimal(18, 2)), 0, NULL, 1)
INSERT [dbo].[tbl_DeliveryMaster] ([Delivery_Id], [Delivery_Country], [Delivery_State], [Delivery_City], [Delivery_Charges], [Company_Id], [Created_Date], [IsDeleted]) VALUES (N'73f03a81-852e-4232-99e2-2c5cd1d8841e', N'IN', N'GJ', N'Khambhat', CAST(10.00 AS Decimal(18, 2)), 1, NULL, 0)
INSERT [dbo].[tbl_DeliveryMaster] ([Delivery_Id], [Delivery_Country], [Delivery_State], [Delivery_City], [Delivery_Charges], [Company_Id], [Created_Date], [IsDeleted]) VALUES (N'aaf30d94-d04c-497e-b891-aaf3c2cc9c97', N'IN', N'GJ', N'Khambhat', CAST(12.00 AS Decimal(18, 2)), 1, NULL, 1)
GO
INSERT [dbo].[tbl_FileUploadMaster] ([File_Id], [File_Name], [File_Path], [Download_Link], [Company_Id], [IsActive], [Created_Date]) VALUES (N'27011412-2965-4e1e-b78a-0906844bf8fc', N'Test URL', N'https://middleware.crowncrystalandstone.com/Excel/c3d26eb5-b21f-4f06-adde-b4a258a595fb.xlsx', N'', 1, 1, CAST(N'2023-04-15T07:01:59.273' AS DateTime))
INSERT [dbo].[tbl_FileUploadMaster] ([File_Id], [File_Name], [File_Path], [Download_Link], [Company_Id], [IsActive], [Created_Date]) VALUES (N'c86e498a-998d-42d3-8d15-f152f0598860', N'Test', N'https://middleware.crowncrystalandstone.com/Images/1c9624dc-5c31-40ed-bf9c-0a717193c706.xlsx', N'', 1, 1, CAST(N'2023-04-13T14:47:11.867' AS DateTime))
GO
INSERT [dbo].[tbl_ShoppingCartMaster] ([Cart_Id], [SubCategory_Id], [ItemQuantity], [ItemPrice], [DeliveryAddress], [BillingAddresss], [TotalAmount], [IsCheckedOut], [CheckedOutDate], [Company_Id], [Register_Id], [OrderNo], [IsRemoved], [OrderConfirm_Date]) VALUES (N'e25aaf0c-5479-4f3a-8f0a-baca0b083b93', 1, CAST(10 AS Numeric(18, 0)), CAST(12.00 AS Numeric(18, 2)), N'', N'', CAST(120.00 AS Decimal(18, 2)), 1, CAST(N'2023-02-26T15:03:04.660' AS DateTime), 1, N'827724ff-3010-4a13-bf02-f1a874068b0c', N'123', 0, NULL)
INSERT [dbo].[tbl_ShoppingCartMaster] ([Cart_Id], [SubCategory_Id], [ItemQuantity], [ItemPrice], [DeliveryAddress], [BillingAddresss], [TotalAmount], [IsCheckedOut], [CheckedOutDate], [Company_Id], [Register_Id], [OrderNo], [IsRemoved], [OrderConfirm_Date]) VALUES (N'6b9412c9-6581-4ed6-9355-242c687021c0', 2, CAST(10 AS Numeric(18, 0)), CAST(10.00 AS Numeric(18, 2)), N'', N'', CAST(100.00 AS Decimal(18, 2)), 1, CAST(N'2023-02-26T18:06:52.243' AS DateTime), 1, N'827724ff-3010-4a13-bf02-f1a874068b0c', N'123', 0, NULL)
INSERT [dbo].[tbl_ShoppingCartMaster] ([Cart_Id], [SubCategory_Id], [ItemQuantity], [ItemPrice], [DeliveryAddress], [BillingAddresss], [TotalAmount], [IsCheckedOut], [CheckedOutDate], [Company_Id], [Register_Id], [OrderNo], [IsRemoved], [OrderConfirm_Date]) VALUES (N'50f7c8e3-0440-47c1-9b05-e7a930437939', 1, CAST(10 AS Numeric(18, 0)), CAST(12.00 AS Numeric(18, 2)), N'', N'', CAST(120.00 AS Decimal(18, 2)), 1, CAST(N'2023-02-26T18:08:25.137' AS DateTime), 1, N'827724ff-3010-4a13-bf02-f1a874068b0c', N'123', 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_UserMaster] ON 

INSERT [dbo].[tbl_UserMaster] ([User_Id], [User_Name], [User_Password], [User_EmailAddress], [Company_Id], [IsActive], [Created_Date], [User_FirstName], [User_LastName]) VALUES (1, N'dk', N'12', N'darshitkansara94@gmail.com', 2, 1, CAST(N'2022-12-19T21:20:13.947' AS DateTime), N'Darshit', N'Kansara')
INSERT [dbo].[tbl_UserMaster] ([User_Id], [User_Name], [User_Password], [User_EmailAddress], [Company_Id], [IsActive], [Created_Date], [User_FirstName], [User_LastName]) VALUES (2, N'amit', N'12', N'darshitkansara94@gmail.com', 2, 1, CAST(N'2023-04-22T16:41:15.767' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_UserMaster] OFF
GO
INSERT [dbo].[tbl_UserRegistration] ([Register_Id], [FirstName], [LastName], [EmailAddress], [Password], [Address], [Landmark], [MobileNo], [Country], [State], [City], [ZipCode], [CreatedDate], [IsEmailValidated], [Company_Id], [VerificationCode]) VALUES (N'827724ff-3010-4a13-bf02-f1a874068b0c', N'Darshit', N'Kansara', N'darshitkansara94@gmail.com', 0x3132, N'as', NULL, NULL, N'IN', N'GJ', N'Khambhat', N'388620', CAST(N'2023-02-25T22:06:42.860' AS DateTime), 0, 1, N'131.19761615383308')
GO
/****** Object:  Index [IX_tbl_SubCategoryMaster]    Script Date: 02-10-2024 10:05:49 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_SubCategoryMaster] ON [dbo].[tbl_SubCategoryMaster]
(
	[SubCategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_CategoryMasterLog] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminGetAllSubCategory]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AdminGetAllSubCategory]
	(
		@CompanyId int
	)
AS
BEGIN
	Select ROW_NUMBER() over(order by SubCategory_Id) as SrNo,tbl_SubCategoryMaster.SubCategory_Id,tbl_SubCategoryMaster.Category_Id,
	tbl_CategoryMaster.Category_Name,
		SubCategory_Name,SubCategory_Detail,
		SubCategory_Rupee,SubCategory_Dollar,SubCategory_Piece,
		SubCategory_Image1,SubCategory_Image2,SubCategory_Image3,SubCategory_Image4,
		tbl_SubCategoryMaster.Company_Id,
		tbl_SubCategoryMaster.User_Id,
		case when tbl_SubCategoryMaster.IsActive =1 then 'Active' else 'InActive' end as Status,
		tbl_SubCategoryMaster.Created_Date,SubCategory_Unit,SubCategory_MinOrder
	from tbl_SubCategoryMaster
	Inner join tbl_CategoryMaster 
		on tbl_CategoryMaster.Category_Id=tbl_SubCategoryMaster.Category_Id
	where tbl_SubCategoryMaster.Company_Id = @CompanyId and tbl_SubCategoryMaster.IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminGetCategoryByID]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AdminGetCategoryByID]
	(
		@CompanyId int,
		@Category_Id int
	)
AS
BEGIN
	Select ROW_NUMBER() over(order by Category_Id) as SrNo,Category_Id,Category_Name,User_Id,Company_Id,Created_Date
	from tbl_CategoryMaster
	where Company_Id=@CompanyId and Category_Id = @Category_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminGetSubCategoryByID]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[sp_AdminGetSubCategoryByID]
	@CompanyId int,
	@SubCategory_Id int
AS
BEGIN
	Select tbl_SubCategoryMaster.SubCategory_Id,tbl_SubCategoryMaster.Category_Id,
	tbl_CategoryMaster.Category_Name,
		SubCategory_Name,SubCategory_Detail,
		SubCategory_Rupee,SubCategory_Dollar,SubCategory_Piece,
		SubCategory_Image1,SubCategory_Image2,SubCategory_Image3,SubCategory_Image4,
		tbl_SubCategoryMaster.Company_Id,
		tbl_SubCategoryMaster.User_Id,
		tbl_SubCategoryMaster.IsActive,
		tbl_SubCategoryMaster.Created_Date,
		SubCategory_Unit,SubCategory_MinOrder,
		tbl_SubCategoryMaster.Video_Link
	from tbl_SubCategoryMaster
	Inner join tbl_CategoryMaster 
		on tbl_CategoryMaster.Category_Id=tbl_SubCategoryMaster.Category_Id
	where tbl_SubCategoryMaster.Company_Id = @CompanyId
		and SubCategory_Id = @SubCategory_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ClientGetSubCategoryById]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ClientGetSubCategoryById]
	(
		@Company_Id int,
		@SubCategory_Id int
	)
AS
BEGIN
	Select tbl_SubCategoryMaster.SubCategory_Id,SubCategory_Name,SubCategory_Detail,SubCategory_Dollar,
	SubCategory_Image1,SubCategory_Image2,SubCategory_Image3,
	SubCategory_Image4,SubCategory_Piece,tbl_CategoryMaster.Category_Name, 
	case when tbl_offerMaster.Offer_Price!= null or tbl_offerMaster.Offer_Price != '0' Then 
		tbl_offerMaster.Offer_Price else '0' end as Offer_Price,
	SubCategory_Unit,SubCategory_MinOrder,
	tbl_SubCategoryMaster.Video_Link
	from tbl_SubCategoryMaster
	Inner join tbl_CategoryMaster on tbl_CategoryMaster.Category_Id=tbl_SubCategoryMaster.Category_Id
	Left join tbl_OfferMaster on tbl_OfferMaster.SubCategory_Id = tbl_SubCategoryMaster.SubCategory_Id 
	and tbl_OfferMaster.IsActive=1
	where tbl_SubCategoryMaster.Company_Id=@Company_Id and tbl_SubCategoryMaster.SubCategory_Id=@SubCategory_Id	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ClientGetTopSubCategory]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ClientGetTopSubCategory]
	(
		@Company_Id int
	)
AS
BEGIN
	select top 10 SubCategory_Id,SubCategory_Name,SubCategory_Image1,SubCategory_Dollar from tbl_SubCategoryMaster 
	where SubCategory_Id not in 
	(
		Select SubCategory_Id from tbl_OfferMaster where IsActive=1 and Company_Id=@Company_Id
	) and Company_Id=@Company_Id and IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBannerMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteBannerMaster]
	(
		@Banner_Id int
	)
AS
BEGIN
	Update tbl_BannerMaster set
		IsActive=0
	Where Banner_Id=@Banner_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCategoryById]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteCategoryById]
	(
		@Category_Id int
	)
AS
BEGIN
	Update tbl_CategoryMaster
		SET IsActive = 0 WHERE Category_Id=@Category_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteOfferMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteOfferMaster]
	(
		@Offer_Id int
	)
AS
BEGIN
	Update tbl_OfferMaster
		set IsActive=0
	where Offer_Id=@Offer_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSubCategoryByID]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSubCategoryByID]
	(
		@SubCategory_Id int
	)
AS
BEGIN
	Update tbl_SubCategoryMaster set
		IsActive=0
	Where SubCategory_Id=@SubCategory_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeliveryMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeliveryMaster]
	(
		@Type nvarchar(50),
		@Delivery_Id uniqueidentifier = null,
		@Delivery_Country  nvarchar(50) = null,
		@Delivery_State  nvarchar(50)  = null,
		@Delivery_City  nvarchar(50)  = null,
		@Delivery_Charges  nvarchar(50)  = null,
		@Company_Id int  = null
	)
AS
BEGIN
	IF(@Type = 'Insert')
	BEGIN
		INSERT INTO tbl_DeliveryMaster (Delivery_Id,Delivery_Country,Delivery_State,Delivery_City,Delivery_Charges,Company_Id,IsDeleted)
		VALUES(NEWID(),@Delivery_Country,@Delivery_State,@Delivery_City,@Delivery_Charges,@Company_Id,1)
	END
	ELSE IF(@Type = 'Update')
	BEGIN
		UPDATE tbl_DeliveryMaster SET
			Delivery_Country = @Delivery_Country,
			Delivery_State=@Delivery_State,
			Delivery_City=@Delivery_City,
			Delivery_Charges=@Delivery_Charges
		WHERE Delivery_Id=@Delivery_Id
	END
	ELSE IF (@Type='Delete')
	BEGIN
		UPDATE tbl_DeliveryMaster SET
			IsDeleted = 0
		WHERE Delivery_Id=@Delivery_Id
	END
	ELSE IF(@Type='Select')
	BEGIN
		SELECT ROW_NUMBER() over(order by Delivery_Id) as SrNo, Delivery_Id,Delivery_Country,Delivery_State,Delivery_City,Delivery_Charges
			FROM tbl_DeliveryMaster 
		WHERE IsDeleted = 1 AND Company_Id=@Company_Id
	END
	ELSE IF(@Type='SelectById')
	BEGIN
		SELECT Delivery_Id,Delivery_Country,Delivery_State,Delivery_City,Delivery_Charges
			FROM tbl_DeliveryMaster 
		WHERE Delivery_Id = @Delivery_Id AND IsDeleted = 1 AND Company_Id=@Company_Id		
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FileUploadMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FileUploadMaster]
	(
		@Type nvarchar(100),
		@File_Id uniqueidentifier = null,
		@File_Name nvarchar(100) = null,
		@File_Path nvarchar(max) = null,
		@Download_Link nvarchar(100) = null,
		@Company_Id nvarchar(100) = null

	)
AS
BEGIN
	IF(@Type = 'Insert')
	BEGIN
		Insert into [dbo].[tbl_FileUploadMaster]([File_Id],[File_Name],[File_Path],[Download_Link],[Company_Id],[IsActive],[Created_Date])
		values(NEWID(),@File_Name,@File_Path,@Download_Link,@Company_Id,1,GETUTCDATE())
	END
	ELSE IF(@Type='Delete')
	BEGIN
		Update [dbo].[tbl_FileUploadMaster]
			SET [IsActive] = 0
		WHERE [File_Id]=@File_Id
	END
	ELSE IF(@Type= 'Select')
	BEGIN
		SELECT ROW_NUMBER() over(order by File_Id) as SrNo,[File_Id],[File_Name],[File_Path],[Download_Link],[Company_Id],[Created_Date]
		from [dbo].[tbl_FileUploadMaster] 
		where [Company_Id]=@Company_Id And [IsActive] = 1
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategory]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllCategory]
	(
		@CompanyId int
	)
AS
BEGIN
	Select ROW_NUMBER() over(order by Category_Id) as SrNo,Category_Id,Category_Name,User_Id,Company_Id,convert(nvarchar(10),Created_Date,105) as Created_Date,
	case when IsActive = 1 Then 'Active' Else 'InActive' End as CategoryStatus
	from tbl_CategoryMaster
	where Company_Id=@CompanyId and IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBannerMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBannerMaster]
	(
		@Company_Id int
	)
AS
BEGIN
	Select ROW_NUMBER() over(order by Banner_Id) as SrNo,Banner_Id,Banner_Image,Company_Id from
	tbl_BannerMaster
	where Company_Id=@Company_Id and IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOfferMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOfferMaster]
	(
		@Company_Id int
	)
AS
BEGIN
	Select ROW_NUMBER() over(order by Offer_Id) as SrNo,Offer_Id,tbl_OfferMaster.SubCategory_Id,Offer_Price,tbl_SubCategoryMaster.SubCategory_Name,
	tbl_SubCategoryMaster.SubCategory_Dollar from tbl_OfferMaster
	Inner join tbl_SubCategoryMaster on
		tbl_SubCategoryMaster.SubCategory_Id=tbl_OfferMaster.SubCategory_Id
	where tbl_OfferMaster.IsActive=1 and tbl_OfferMaster.Company_Id=@Company_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOfferProductClient]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOfferProductClient]
	(
		@Company_Id int
	)
AS
BEGIN
	select tbl_SubCategoryMaster.SubCategory_Id,
	tbl_SubCategoryMaster.SubCategory_Name,tbl_SubCategoryMaster.SubCategory_Image1,
	tbl_SubCategoryMaster.SubCategory_Image2,tbl_SubCategoryMaster.SubCategory_Dollar,
	tbl_SubCategoryMaster.SubCategory_Rupee,tbl_OfferMaster.Offer_Price
	from tbl_SubCategoryMaster
	Inner join tbl_OfferMaster on
		tbl_OfferMaster.SubCategory_Id=tbl_SubCategoryMaster.SubCategory_Id
	where tbl_OfferMaster.SubCategory_Id in (tbl_SubCategoryMaster.SubCategory_Id)
	and tbl_OfferMaster.IsActive=1 and tbl_OfferMaster.Company_Id=@Company_Id
	order by tbl_SubCategoryMaster.SubCategory_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSubCategoryByIdAndAll]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSubCategoryByIdAndAll]
	(
		@Company_Id int,
		@Category_Id int
	)
AS
BEGIN
	if(@Category_Id = 0)
	Begin
		Select tbl_SubCategoryMaster.SubCategory_Id,SubCategory_Name,SubCategory_Detail,SubCategory_Dollar,
		SubCategory_Image1,SubCategory_Image2,SubCategory_Image3,
		SubCategory_Image4,SubCategory_Piece,tbl_CategoryMaster.Category_Name, 
		case when tbl_offerMaster.Offer_Price!= null or tbl_offerMaster.Offer_Price != '0' Then 
			tbl_offerMaster.Offer_Price else '0' end as Offer_Price,
		SubCategory_Unit,SubCategory_MinOrder
		from tbl_SubCategoryMaster
		Inner join tbl_CategoryMaster on tbl_CategoryMaster.Category_Id=tbl_SubCategoryMaster.Category_Id
		Left join tbl_OfferMaster on tbl_OfferMaster.SubCategory_Id = tbl_SubCategoryMaster.SubCategory_Id 
		and tbl_OfferMaster.IsActive=1
		where tbl_SubCategoryMaster.Company_Id=@Company_Id	
	End
	Else
	Begin
		Select tbl_SubCategoryMaster.SubCategory_Id,SubCategory_Name,SubCategory_Detail,SubCategory_Dollar,
		SubCategory_Image1,SubCategory_Image2,SubCategory_Image3,
		SubCategory_Image4,SubCategory_Piece,tbl_CategoryMaster.Category_Name, 
		case when tbl_offerMaster.Offer_Price!= null or tbl_offerMaster.Offer_Price != '0' Then 
			tbl_offerMaster.Offer_Price else '0' end as Offer_Price,
		SubCategory_Unit,SubCategory_MinOrder
		from tbl_SubCategoryMaster
		Inner join tbl_CategoryMaster on tbl_CategoryMaster.Category_Id=tbl_SubCategoryMaster.Category_Id
		Left join tbl_OfferMaster on tbl_OfferMaster.SubCategory_Id = tbl_SubCategoryMaster.SubCategory_Id 
		and tbl_OfferMaster.IsActive=1
		where tbl_SubCategoryMaster.Company_Id=@Company_Id and tbl_SubCategoryMaster.Category_Id=@Category_Id
	End
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByID]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserByID]
	(
		@Usename nvarchar(100),
		@Password nvarchar(100)
	)
AS
BEGIN
	Select User_Id,User_Name,Company_Id,User_EmailAddress,User_FirstName,User_LastName,Company_Id from tbl_UserMaster
	where User_Name=@Usename and User_Password=@Password and IsActive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertBannerMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertBannerMaster]
	(
		@Banner_Image nvarchar(max),
		@Company_Id int
	)
AS
BEGIN
	Insert into tbl_BannerMaster(Banner_Image,Company_Id,Created_Date,IsActive)
	values(@Banner_Image,@Company_Id,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCategory]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertCategory]
	(
		@CategoryName nvarchar(100),
		@CompanyId int,
		@UserId int
	)
AS
BEGIN
	Insert into tbl_CategoryMaster(Category_Name,Company_Id,Created_Date,User_Id,IsActive)
	values(@CategoryName,@CompanyId,GETDATE(),@UserId,1)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCategoryLogMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- For Approve/ Reject status
Create Procedure [dbo].[sp_InsertCategoryLogMaster]
(
	@Category_Id int,
	@Category_Status nvarchar(50)
)
As
Begin
	Insert into tbl_CategoryMasterLog(Category_Name,Company_Id,User_Id,Description,Category_Status)
	Select Category_Name,Company_Id,User_Id,CONCAT_WS(' ',Category_Name,'is',@Category_Status),@Category_Status 
	from 
		tbl_CategoryMasterLog
	where 
		CategoryLog_Id = @Category_Id
End
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertOfferMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertOfferMaster]
	(
		@SubCategory_Id int,
		@Offer_Price decimal(18,2),
		@Company_Id	int
	)
AS
BEGIN
	Insert into tbl_OfferMaster(SubCategory_Id,Offer_Price,IsActive,Created_Date,Company_Id)
	Values(@SubCategory_Id,@Offer_Price,1,GETDATE(),@Company_Id)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSubCategory]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSubCategory]
	(
		@Category_Id int,
		@SubCategory_Name nvarchar(100),
		@SubCategory_Detail nvarchar(MAX),
		@SubCategory_Rupee decimal(18,2),
		@SubCategory_Dollar decimal(18,2),
		@SubCategory_Piece bigint,
		@SubCategory_Image1 nvarchar(MAX),
		@SubCategory_Image2 nvarchar(MAX),
		@SubCategory_Image3 nvarchar(MAX),
		@SubCategory_Image4 nvarchar(MAX),
		@Company_Id int,
		@SubCategory_Unit nvarchar(15),
		@SubCategory_MinOrder decimal(18,2),
		@Video_link as nvarchar(max) = null
	)
AS
BEGIN
	Insert into tbl_SubCategoryMaster(Category_Id,SubCategory_Name,SubCategory_Detail,
		SubCategory_Rupee,SubCategory_Dollar,SubCategory_Piece,
		SubCategory_Image1,SubCategory_Image2,SubCategory_Image3,SubCategory_Image4,
		Company_Id,IsActive,Created_Date,SubCategory_Unit,SubCategory_MinOrder,Video_link)
	Values(@Category_Id,@SubCategory_Name,@SubCategory_Detail,
		@SubCategory_Rupee,@SubCategory_Dollar,@SubCategory_Piece,
		@SubCategory_Image1,@SubCategory_Image2,@SubCategory_Image3,@SubCategory_Image4,
		@Company_Id,1,GETDATE(),@SubCategory_Unit,@SubCategory_MinOrder,@Video_link)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertViewCategoryMasterLog]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Waiting for Approval
Create procedure [dbo].[sp_InsertViewCategoryMasterLog]
(
	@Category_Name nvarchar(100),
	@Company_Id int,
	@User_Id int
)
As
Begin
	Insert into vw_CategoryLogTable(Category_Name,Company_Id,User_Id)
	values(@Category_Name,@Company_Id,@User_Id)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectCategoryFromView]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_SelectCategoryFromView]
As
Begin
	select cm.Company_Name,UPPER(vw.Category_Name) as Category_Name,CONCAT_ws(' ',um.User_FirstName,um.User_LastName) as UserName,
	case when vw.IsActive = 1 then 'Active' else 'In Active' end as Active_Status,
	CONVERT(nvarchar(30), vw.Created_Date , 0) as Created_Date	
	from [dbo].[vw_CategoryDetail] vw
	Inner join tbl_CompanyMaster cm on cm.Company_ID = vw.Company_Id
	Inner join tbl_UserMaster um on um.User_Id = vw.User_Id
	where vw.Company_Id <> 0
End
GO
/****** Object:  StoredProcedure [dbo].[sp_SendEmailEnquiry]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SendEmailEnquiry]
	(
		@UserId nvarchar(50)
	)
AS
BEGIN
	Select Register_Id,FirstName+ ' ' + LastName as Name,EmailAddress,Country,State,City 
	from tbl_UserRegistration where Register_Id=@UserId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ShoppingCartMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ShoppingCartMaster] 
	(
		@Type nvarchar(50),
		@Cart_Id UNIQUEIDENTIFIER = null,
		@SubCategory_Id int = 0,
		@ItemQuantity numeric(18,0) = 0,
		@DeliveryAddress nvarchar(max) = null,
		@BillingAddresss nvarchar(max) = null,
		@TotalAmount decimal(18,2) = 0,
		@IsCheckedOut int = 0,
		@Company_Id int = 0,
		@OrderNo nvarchar(100) = null,
		@Register_Id UNIQUEIDENTIFIER = null	
	)
AS
BEGIN
	--IsCheckedOut:-
		-- 0 = Checkout is pending
		-- 1 = Checkout is done

	-- IsRemoved
		-- 0 = Deleted
		-- 1 = Not Deleted
	If(@Type='Insert')
	Begin
		BEGIN TRY
			declare @SubCategoryQuantity numeric(18,2);
			declare @SubCategoryDollarPrice numeric(18,2);
			declare @TotalItemPrice numeric(18,2);
			Select @SubCategoryQuantity =  SubCategory_MinOrder from tbl_SubCategoryMaster where SubCategory_Id=@SubCategory_Id;
			Select @SubCategoryDollarPrice = SubCategory_Dollar from tbl_SubCategoryMaster where  SubCategory_Id=@SubCategory_Id;
			Select @TotalItemPrice = @SubCategoryDollarPrice * @ItemQuantity;

			If Not Exists (Select Cart_Id from tbl_ShoppingCartMaster 
				where Register_Id=@Register_Id and SubCategory_Id=@SubCategory_Id and 
				Company_Id=@Company_Id and IsRemoved = 1 and IsCheckedOut=0) 
			Begin
				Insert into tbl_ShoppingCartMaster(Cart_Id,SubCategory_Id,ItemQuantity,DeliveryAddress,BillingAddresss,
					TotalAmount,IsCheckedOut,Company_Id,Register_Id,CheckedOutDate,ItemPrice,IsRemoved)
				values(NEWID(),@SubCategory_Id,@ItemQuantity,@DeliveryAddress,@BillingAddresss,
					@TotalItemPrice,@IsCheckedOut,@Company_Id,@Register_Id,GETUTCDATE(),@SubCategoryDollarPrice,1)
			End
			Else
			Begin
				Select '2'
			End
		END TRY
		Begin CATCH
			rollback
		END CATCH
	End
	ELSE IF(@Type='Select')
	BEGIN
		BEGIN TRY
			Select Cart_Id,tbl_ShoppingCartMaster.SubCategory_Id,ItemQuantity,DeliveryAddress,BillingAddresss,
				TotalAmount,IsCheckedOut,CheckedOutDate,tbl_SubCategoryMaster.SubCategory_Name,
				tbl_SubCategoryMaster.SubCategory_Dollar,tbl_SubCategoryMaster.SubCategory_Image1,
				tbl_SubCategoryMaster.SubCategory_MinOrder,tbl_ShoppingCartMaster.Register_Id,
				tbl_UserRegistration.Country,
				(Select Delivery_Charges from tbl_DeliveryMaster 
				where 
					IsDeleted = 1 
					and Company_Id=@Company_Id 
					And tbl_DeliveryMaster.Delivery_Country = tbl_UserRegistration.Country) as Delivery_Charges,
				tbl_UserRegistration.EmailAddress
			from tbl_ShoppingCartMaster
			Inner join tbl_SubCategoryMaster on
				tbl_SubCategoryMaster.SubCategory_Id = tbl_ShoppingCartMaster.SubCategory_Id
			Inner join tbl_UserRegistration on
				tbl_UserRegistration.Register_Id = tbl_ShoppingCartMaster.Register_Id	
			where 
				tbl_ShoppingCartMaster.Company_Id=@Company_Id 
				and tbl_ShoppingCartMaster.Register_Id=@Register_Id
				and tbl_ShoppingCartMaster.IsCheckedOut= 0
				and tbl_ShoppingCartMaster.IsRemoved = 1

		END TRY
		BEGIN CATCH
			rollback
		END CATCH
	END
	ELSE IF(@Type = 'Remove')
	BEGIN
		Update tbl_ShoppingCartMaster SET
			IsRemoved=0
		WHERE tbl_ShoppingCartMaster.Cart_Id = @Cart_Id
	END
	ELSE IF(@Type = 'Update')
	BEGIN
		Update tbl_ShoppingCartMaster set 
			IsCheckedOut=1,
			OrderNo=@OrderNo,
			OrderConfirm_Date = GETUTCDATE()
		WHERE 
			Register_Id=@Register_Id and IsRemoved=1 and IsCheckedOut=0

		--Update tbl_ShoppingCartMaster set
		--	OrderNo = @OrderNo,
		--	IsCheckedOut = 1
		--WHERE Cart_Id=@Cart_Id
	END
	Else if(@Type= 'DisplayOrderToAdmin')
	BEGIN
		SELECT 	ROW_NUMBER() over(order by TBL_SHOPPINGCARTMASTER.OrderNo desc) as SrNo,
			TBL_USERREGISTRATION.EMAILADDRESS,TBL_SHOPPINGCARTMASTER.ORDERNO,
			TBL_USERREGISTRATION.ADDRESS,
			TBL_USERREGISTRATION.COUNTRY,TBL_USERREGISTRATION.STATE,TBL_USERREGISTRATION.CITY,
			TBL_USERREGISTRATION.ZIPCODE,TBL_USERREGISTRATION.MOBILENO,
			TBL_USERREGISTRATION.FIRSTNAME+ ' ' + TBL_USERREGISTRATION.LASTNAME AS USERNAME,
			CONVERT(varchar,TBL_SHOPPINGCARTMASTER.ORDERCONFIRM_DATE,100) as CONFIRMDATE,
			SUM(TBL_SHOPPINGCARTMASTER.TOTALAMOUNT) AS TOTALPRICE
		FROM TBL_SHOPPINGCARTMASTER 
		INNER JOIN TBL_USERREGISTRATION ON
			TBL_USERREGISTRATION.REGISTER_ID = TBL_SHOPPINGCARTMASTER.REGISTER_ID
		INNER JOIN TBL_SUBCATEGORYMASTER ON
			TBL_SUBCATEGORYMASTER.SUBCATEGORY_ID=TBL_SHOPPINGCARTMASTER.SUBCATEGORY_ID
		WHERE ISCHECKEDOUT=1 AND ISREMOVED=1 AND TBL_SHOPPINGCARTMASTER.Company_Id= @Company_Id
		group by orderNo, TBL_USERREGISTRATION.EMAILADDRESS,
		TBL_USERREGISTRATION.ADDRESS,
			TBL_USERREGISTRATION.COUNTRY,TBL_USERREGISTRATION.STATE,TBL_USERREGISTRATION.CITY,
			TBL_USERREGISTRATION.ZIPCODE,TBL_USERREGISTRATION.MOBILENO,
			TBL_USERREGISTRATION.FIRSTNAME,TBL_USERREGISTRATION.LASTNAME,
			TBL_SHOPPINGCARTMASTER.ORDERCONFIRM_DATE
		ORDER BY ORDERCONFIRM_DATE ASC		
	END
	ELSE IF(@Type='DisplayOrderToAdminExpand')
	BEGIN
		SELECT ROW_NUMBER() over(order by TBL_SHOPPINGCARTMASTER.Cart_Id desc) as SrNo,
			TBL_SUBCATEGORYMASTER.SUBCATEGORY_NAME,TBL_SHOPPINGCARTMASTER.ITEMPRICE, 
			TBL_SHOPPINGCARTMASTER.ITEMQUANTITY,TBL_SHOPPINGCARTMASTER.TOTALAMOUNT,
			TBL_SHOPPINGCARTMASTER.ORDERNO,		
			CONVERT(varchar,TBL_SHOPPINGCARTMASTER.ORDERCONFIRM_DATE,100) as ConfirmDate
		FROM TBL_SHOPPINGCARTMASTER 		
		INNER JOIN TBL_SUBCATEGORYMASTER ON
			TBL_SUBCATEGORYMASTER.SUBCATEGORY_ID=TBL_SHOPPINGCARTMASTER.SUBCATEGORY_ID
		WHERE ISCHECKEDOUT=1 AND ISREMOVED=1 AND ORDERNO = @OrderNo
			AND TBL_SHOPPINGCARTMASTER.Company_Id=@Company_Id
		ORDER BY ORDERCONFIRM_DATE ASC
	END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBannerMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBannerMaster]
	(
		@Banner_Image nvarchar(max),
		@Banner_Id int
	)
AS
BEGIN
	Update tbl_BannerMaster set
		Banner_Image=@Banner_Image
	Where Banner_Id=@Banner_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCategoryMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCategoryMaster]
	(
		@Category_Name nvarchar(100),
		@Category_Id int
	)
AS
BEGIN
	Update tbl_CategoryMaster
		SET Category_Name=@Category_Name
	WHERE Category_Id=@Category_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOfferMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateOfferMaster]
	(
		@Offer_Id int,
		@SubCategory_Id int,
		@Offer_Price decimal(18,2)
	)
AS
BEGIN
	Update tbl_OfferMaster set 
		SubCategory_Id=@SubCategory_Id,
		Offer_Price=@Offer_Price
	Where
		Offer_Id=@Offer_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePassword]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePassword]
	(
		@User_Id int,
		@User_OldPassword nvarchar(500),
		@User_NewPassword nvarchar(500)
	)
AS
BEGIN

	if exists(
		Select User_Id from tbl_UserMaster where User_Id=@User_Id and user_password=@User_OldPassword
	)
	Begin		
		Update tbl_UserMaster set
			User_Password = @User_NewPassword
		where User_Id = @User_Id		
	End	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSubCategoryMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSubCategoryMaster]
	(
		@SubCategory_Id int,
		@Category_Id int,
		@SubCategory_Name nvarchar(100),
		@SubCategory_Detail nvarchar(MAX),
		@SubCategory_Rupee decimal(18,2),
		@SubCategory_Dollar decimal(18,2),
		@SubCategory_Piece bigint,
		@SubCategory_Image1 nvarchar(MAX),
		@SubCategory_Image2 nvarchar(MAX),
		@SubCategory_Image3 nvarchar(MAX),
		@SubCategory_Image4 nvarchar(MAX),
		@SubCategory_Unit nvarchar(15),
		@SubCategory_MinOrder decimal(18,2),
		@Video_link as nvarchar(max) = null
	)
AS
BEGIN
	Update tbl_SubCategoryMaster set
		Category_Id=@Category_Id,
		SubCategory_Name=@SubCategory_Name,
		SubCategory_Detail=@SubCategory_Detail,
		SubCategory_Rupee=@SubCategory_Rupee,
		SubCategory_Dollar=@SubCategory_Dollar,
		SubCategory_Image1=@SubCategory_Image1,
		SubCategory_Image2=@SubCategory_Image2,
		SubCategory_Image3=@SubCategory_Image3,
		SubCategory_Image4=@SubCategory_Image4,
		SubCategory_Unit = @SubCategory_Unit,
		SubCategory_MinOrder = @SubCategory_MinOrder,
		Video_link=@Video_link
	WHERE
		SubCategory_Id=@SubCategory_Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserRegisterMaster]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserRegisterMaster]
	(
		@Type nvarchar(100),
		@Register_Id UNIQUEIDENTIFIER = null,
		@FirstName nvarchar(200) = null,
		@LastName nvarchar(200) = null,
		@EmailAddress nvarchar(300) = null,
		@Password varbinary(max),
		@Address nvarchar(max) = null,
		@Landmark nvarchar(max) = null,
		@MobileNo numeric(18,2) = null,
		@Country nvarchar(200) = null,
		@State nvarchar(200) = null,
		@City nvarchar(200) = null,
		@ZipCode nvarchar(200) = null,
		@IsEmailValidated int = 0,
		@Company_Id int = 0,
		@VerificationCode nvarchar(50) = null
	)
AS
BEGIN
	if(@Type = 'Insert')
	Begin
		Insert into tbl_UserRegistration(Register_Id,FirstName,LastName,EmailAddress,Password,Address,Country,
			State,City,ZipCode,IsEmailValidated,Company_Id,VerificationCode,CreatedDate)
		Values(NEWID(),@FirstName,@LastName,@EmailAddress,@Password,@Address,@Country,
			@State,@City,@ZipCode,@IsEmailValidated,@Company_Id,@VerificationCode,GETDATE())
	End
	Else If(@Type = 'Select')
	Begin
		Select Register_Id,FirstName,LastName,EmailAddress,Address,Country,
			State,City,ZipCode,IsEmailValidated,Company_Id,VerificationCode,CreatedDate
		from tbl_UserRegistration
		Where
			EmailAddress=@EmailAddress and Password=@Password and Company_Id=@Company_Id
	End
END
GO
/****** Object:  Trigger [dbo].[tr_CategoryMasterLog]    Script Date: 02-10-2024 10:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[tr_CategoryMasterLog]
on [dbo].[tbl_CategoryMasterLog]
After Insert
As
Begin
	Declare @Category_Status nvarchar(100)

	Select @Category_Status = Category_Status from inserted

	If(@Category_Status = 'Approved')
	Begin
		Insert into tbl_categoryMaster(Category_Name,Company_Id,Created_Date,User_Id,IsActive)
		select Category_Name,Company_Id,GETDATE(),User_Id,1 from inserted
	End
End
GO
ALTER TABLE [dbo].[tbl_CategoryMasterLog] ENABLE TRIGGER [tr_CategoryMasterLog]
GO
/****** Object:  Trigger [dbo].[tr_vw_CategoryMasterLog]    Script Date: 02-10-2024 10:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[tr_vw_CategoryMasterLog]
on [dbo].[vw_CategoryLogTable]
Instead of Insert
As
Begin
	Insert into tbl_CategoryMasterLog
		(Category_Name,Company_Id,Created_Date,User_Id,Description,Category_Status)
	Select Category_Name,Company_Id,Created_Date,User_Id,'Waiting for Approval Status',
		'Waiting for approval'
		from inserted

End
GO
USE [master]
GO
